@using TravelBus.Models
@model List<ClienteCLS>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Index</h2>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>



@Html.ActionLink("Agregar", "Agregar", "Cliente", null, new { @class = "btn btn-primary" })

<br />
<br />



@using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
{
    @Html.Label("Seleccione sexo del cliente")
    <br />

    @Html.DropDownList("idsexo", listaSexo, null, new { @class = "form-control" })

    <br />
    <input type="submit" class="btn btn-success" value="Buscar" />



    <table class="table table-striped">

        <thead>
            <tr>
                <td width="25%">@Html.LabelFor(p => Model[0].idcliente)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].nombre)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].appaterno)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].apmaterno)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].Email)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].direccion)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].telefonofijo)</td>
                <td width="25%">@Html.LabelFor(p => Model[0].telefonocelular)</td>
                <td>  <b>  Operaciones </b>  </td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idcliente</td>
                    <td>@item.nombre</td>
                    <td>@item.appaterno</td>
                    <td>@item.apmaterno</td>
                    <td>@item.Email</td>
                    <td>@item.direccion</td>
                    <td>@item.telefonofijo</td>
                    <td>@item.telefonocelular</td>

                    <td width="0%">
                        @Html.ActionLink(" ", "Editar", "Cliente", new { id = item.idcliente }, new { @class = "glyphicon glyphicon-edit  btn btn-primary" })
                        <button type="button" onclick="mostrarPopup(@item.idcliente)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#myModal"></button>
                    </td>
                    @*<td width="10%">@Html.ActionLink(" ", "Eliminar", "Cliente", new { id = item.idcliente }, new { @class = "glyphicon glyphicon-trash    btn btn-danger", @onClick = "eliminar()" })</td>*@

                </tr>
            }
        </tbody>

    </table>

}



@using (Html.BeginForm("Eliminar", "Cliente", FormMethod.Post, new { @id = "frmEliminar" }))
{

    @Html.Hidden("idcliente");

}





<!--MODAL-->
<body>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">¿Desea guardar el cambio?</h4>
                    </div>

                    <div>
                        <button type="button" onclick="Agregar()" class="btn btn-success">Aceptar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>



<script>

    function mostrarPopup(idcliente) {
        document.getElementById("idcliente").value = idcliente;
    }

    function Agregar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();

    }



</script>

