@using TravelBus.Models
@model  SucursalCLS
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>


<div class="row">
    <div class="col-md-6">

        <!-- Mapeando el formulario al metodo Agregar en el Controlador Sucursal  -->
        @using (Html.BeginForm("Agregar", "Sucursal", FormMethod.Post, new { @id = "frmSucursal" }))
        {

            <!-- Mapeando nombre de la sucursal  -->
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>

            <!-- Mapeando la direccion de la sucursal  -->
            <div>
                @Html.LabelFor(p => p.direccion)
                @Html.TextBoxFor(p => p.direccion, new { @class = "form-control" })
                @Html.ValidationMessage("direccion", new { @class = "text-danger" })
                <!-- Mostrando el error en la vista; -->
                @if (Model != null && Model.mensajeErrorSucursal!=null) 
                {
                    @Html.Label(Model.mensajeErrorSucursal,new {@class="text-danger"})
                }

            </div>



            <!-- Mapeando el telefono de la sucursal  -->
            <div>
                @Html.LabelFor(p => p.telefono)
                @Html.TextBoxFor(p => p.telefono, new { @class = "form-control" })
                @Html.ValidationMessage("telefono", new { @class = "text-danger" })
            </div>

            <!-- Mapeando el Email  -->
            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                @Html.ValidationMessage("email", new { @class = "text-danger" })
            </div>

            <br /> <!-- Salto de Linea para que tenga mas estilo   -->


            <!-- Campo de texto tipo EditFor para las fechas
            Nota:No olvidar poner la anotacion [DataType(DataType.Date) en el modelo]   -->
            <div>
                @Html.LabelFor(p => p.fechaApertura)
                <br />
                @Html.EditorFor(p => p.fechaApertura, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessage("fechaApertura", new { @class = "text-danger" })
            </div>

            <br />

            <!--Este Boton que hace referencia al método Agregar [HttpPost]  -->
            <!--Creando un boton  con el nombre guardar;-->

            <div style="margin:auto">
                <!--Creando un boton  asociado al modal-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Guardar</button>

                @Html.ActionLink("Regresar", "Index", "Sucursal", null, new { @class = "btn btn-danger" })
            </div>

        }
    </div>
</div>

<!--MODAL-->
<body>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">¿Desea guardar el cambio?</h4>
                    </div>

                    <div>
                        <button type="button" onclick="Agregar()" class="btn btn-success">Aceptar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>


<!--SCRIP EN EL EVENTO ONCLICK()-->
<script>
    function Agregar() {
        var frmSucursal = document.getElementById("frmSucursal");

        frmSucursal.submit();
    }
</script>

