@using TravelBus.Models;
@model List<RolCLS>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>


<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar
</button>



@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divRol",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))

{
@Html.Label("Ingrese el nombre Rol")
                @Html.TextBox("nombre", null, new { @class = "form-control" })

                                <div id="divRol">

                                    @Html.Partial("_TablaRol", Model)

                                </div>}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Confirmación</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Rol", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "error"
            }))
            {
@Html.Hidden("titulo")
                <div class="modal-body">

                    <div>
                        @Html.Label("Nombre Rol")
                        @Html.TextBox("nombre", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Descripcion")
                        @Html.TextArea("descripcion", null, new { @class = "form-control" })
                    </div>

                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save changes</button>
                                </div>            }
            <div id="error"></div>
        </div>
    </div>
</div>



<script>

    //Llamada para el filtrado
    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }


    //para agregar llamada al popUp();

    function Agregar() {
        document.getElementById("titulo").value = 1;
    }


    function Guardar(resultado) {
        if (resultado == "1" || resultado == "0") {
            $("#frmFiltro").trigger("submit");
            document.getElementById("btnClose").click();
            alert("Se guardo correctamente");
        } else {
            if (resultado == "-1") {
                alert("Ya existe en la base de datos");
                document.getElementById("error").innerHTML = "";
            } else
                alert("Ocurrio un error");
        }
    }




</script>